<h2>Polished Copy (for your games)</h2>
<p>Over the past few years, I've helped a number of board game creators polish their game copy for publication.
    Some of the more notable games I've provided copyediting and proofreading for include <a href="https://boardgamegeek.com/boardgame/169786/scythe">Scythe</a>, <a href="https://boardgamegeek.com/boardgame/164775/monstrous">Monstrous</a>, and the upcoming <a href="https://boardgamegeek.com/boardgame/197376/charterstone">Charterstone</a>.
    <br/>
    <br/>
    I've also been a proofreader on several books, including <a href="http://shop.oreilly.com/product/0636920013464.do">Myths of Innovation</a> by Scott Berkun, as well as Kathy Sierra's <a href="https://www.amazon.com/Badass-Making-Awesome-Kathy-Sierra/dp/1491919019">Badass: Making Users Awesome</a>
</p>

<!--<hr/>-->

<!--<h2>Copy?</h2>-->
<!--<p>"Copy" is just a fancy word for "text". So game copy includes the text contained in the rulebook, as well as on cards, the board, mats, the box, or anywhere else where words are printed.-->
    <!--<br/>-->
    <!--If you're-->
<!--</p>-->

<hr/>
