<header>
    {% if site.compass.logo %}
    <div class="logo-container">
        <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
    </div>
    {% endif %}

    {% if site.compass.author %}
    <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
    {% endif %}

    {% if site.compass.tagline %}
    <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
    {% endif %}
    <ul class="fa-ul main-list">
        <li class="main-list-item">
            <a href="mailto://game.copy.polish@gmail.com"><i class="fa fa-envelope-o fa-lg main-list-item-icon"></i>&nbsp;GameCopyPolish@gmail.com</a>
        </li>
        <li class="main-list-item">
            <a href="https://twitter.com/GameCopyPolish"><i class="fa fa-twitter fa-lg main-list-item-icon"></i>@GameCopyPolish</a>
        </li>
    </ul>
</header>